---
import Slide from "../components/slide.astro";
import * as qrc from "./qr-code-repo.js";
---

<Slide>
	<h2>Questions for Chris & Zachary?</h2>
	<p><strong>Slides:</strong> <a href={qrc.url}>{qrc.domain}<strong>{qrc.id}</strong></a></p>
	<p><img class="qr-code" src={qrc.src} alt={`QR code of ${qrc.label}`}></p>
</Slide>

<style>
	.qr-code {
		margin: -3.25rem;
		mix-blend-mode: multiply;
	}
</style>
