---
//import "rivet-core/dist/rivet.css";
//import "rivet-core/dist/rivet-icons.css";
//import "rivet-core/dist/rivet-stickers.css";
import Intro from "../slides/intro.astro";

const rivetUrl = "https://unpkg.com/rivet-core@3.0.0-alpha.9/dist";
const summary = "The next major version of the Rivet Design System (version 3) will introduce technical changes to design tokens, components, and utilities. You will learn how these changes impact the user and developer experience; how we are adopting modern browser features and development tooling; and how we can support your migration from version 2. You will also hear firsthand from a developer about their experience deploying Rivet 3 and working with IU marketing teams on their websites."
---

<html lang="en">
	<head>
		<title>Rivet 3 for Developers - Statewide IT Conference 2026</title>
		<meta charset="UTF-8">
		<meta name="description" content={summary}>
		<link rel="stylesheet" href={`${rivetUrl}/rivet.css`}>
		<link rel="stylesheet" href={`${rivetUrl}/rivet-icons.css`}>
		<link rel="stylesheet" href={`${rivetUrl}/rivet-stickers.css`}>
	</head>
	<body>
		<main>
			<Intro />
		</main>
	</body>
</html>

<style is:global>
	html {
		scroll-behavior: auto;
	}
</style>

<script>
	function goToSlide(action: string) {
		const ids = [...document.querySelectorAll("swit-slide")]
			.map((slide) => slide.getAttribute("id"));

		if (!ids.length) {
			return;
		}

		const targetId = window.location.hash.slice(1);
		const match = ids.findIndex((id) => id === targetId);
		const index = match === -1 ? 0 : match;
		const current = ids.at(index);
		const first = ids.at(0);
		const last = ids.at(-1);
		const next = current === last ? first : ids.at(index + 1);
		const prev = current === first ? last : ids.at(index - 1);
		const actionMap = { first, last, next, prev };
		const slideId = actionMap[action as keyof typeof actionMap];

		if (!slideId) {
			return;
		}

		window.location.hash = `#${slideId}`;
	}

	document.addEventListener("keydown", (event) => {
		if (event.key === "ArrowLeft") {
			goToSlide(event.shiftKey ? "first" : "prev");
		}
		if (event.key === "ArrowRight") {
			goToSlide(event.shiftKey ? "last" : "next");
		}
	});
</script>
